* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(73, 50, 201);
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.container.mt-5.login{
    max-width: 400px ;
}
.wrap{
    
    height: auto;
    backdrop-filter: blur(10px);
    
}
.descripcionCatergoria {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.descripcionCatergoria h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.descripcionJuegos1 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 800px;
    border-top: 2px solid #fff;
    padding-top: 20px;
}

.descripcionJuegos1 h2 {
    color: #c7c7c7;
    font-style: italic;
    margin-bottom: 20px;
}

.precio_boton {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    padding: 10px;
}

.precio_boton h4 {
    color: #fff;
    margin-bottom: 10px;
}

.linkInicio a {
    display: inline-block;
    margin: 20px;
    padding: 10px 30px;
    background-color: #122db8;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s ease;
}

.linkInicio a:hover {
    background-color: #fff;
    border: 2px solid #122db8;
    color: #122db8;
    text-decoration: underline;
}

img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.error {
    color: red;
    font-size: 0.9em;
}



.admin-only {
    display: none !important;
}

#toggleRoleBtn {
    transition: all 0.3s ease;
}
#toggleRoleBtn:hover {
    transform: scale(1.05);
}
.cart-counter {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}
.ajuste-cuadro{
    max-width: 800px;
    width: 90%;
}
.boton_confirm{
    display: block;
    float: right;
   
}
.tabla-fila{
    padding-bottom: 10px;

}