{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fuente JetBrains -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">

    <!-- iconos -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>

    <title>Juegos de Plataformas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'catalogo' %}">
                    <img src="{% static '/img/gamelf-white.png' %}" style="width: 150px !important; margin-right: 50px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav align-items-center gap-3">
                        <a class="nav-link d-flex align-items-center gap-2" href="{% url 'catalogo' %}">
                            <i class="fi fi-tr-house-blank" style="font-size: 1.1rem;"></i>
                            Inicio
                        </a>
    
                        <a class="nav-link d-flex align-items-center gap-2" href="{% url 'categoria' %}">
                            <i class="fi fi-tr-category" style="font-size: 1.1rem;"></i>
                            Categoría
                        </a>
    
                        <a class="nav-link d-flex align-items-center gap-2" href="{% url 'login' %}">
                            <i class="fi fi-tr-sign-in-alt" style="font-size: 1.1rem;"></i>
                            Iniciar Sesión
                        </a>
    
                        <a class="nav-link d-flex align-items-center gap-2" href="{% url 'registro' %}">
                            <i class="fi fi-tr-clipboard-list" style="font-size: 1.1rem;"></i>
                            Registro
                        </a>
    
                        <a class="nav-link d-flex align-items-center gap-2" href="{% url 'perfil' %}">
                            <i class="fi fi-tr-clipboard-user" style="font-size: 1.1rem;"></i>
                            Perfil
                        </a>
    
                        <a class="nav-link" href="{% url 'crearJuego' %}" id="adminLink" style="display: none;">
                            <i class="fi fi-tr-add"></i>
                            Agregar Juego</a>
    
                        <a class="btn position-relative" id="cart-btn" data-bs-toggle="modal" data-bs-target="#cartModal">
                            <i class="fi fi-tr-basket-shopping-simple"></i>
                            <span id="cart-count" class="badge bg-carrito-badge bg-danger position-absolute top-0 start-100 translate-middle">0</span>
                        </a>
                    </div>
                    <div class="ms-lg-auto ps-lg-3">
                        <a href="?admin=true" class="btn btn-custom d-flex align-items-center gap-2" id="adminBtn">
                            <i class="fi fi-tr-shield" style="font-size: 1.1rem;"></i>
                            Modo Admin
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    
        <section class="container my-5">

            <div class="container position-relative mb-10">
                <h1 style="margin-top: 100px !important;">Juegos de Plataformas</h1>
                <img src="{% static 'img/fondo plataforma.jpg' %}" class="img-fluid w-100 rounded" alt="Dragonflight">
            
                <div class="position-absolute bottom-0 start-0 end-0 p-3">
                    <div class="bg-dark p-3 mx-auto" style="background-color: rgba(0, 0, 0, 0.517) !important; border-radius: 10px; max-width: 100%; width: fit-content;">
                        <p class="text-white mb-0" style="max-width: 100%;">
                            Los videojuegos de plataformas son un género donde los jugadores controlan un personaje que debe avanzar a través de niveles superando obstáculos como saltos, enemigos y trampas. Suelen centrarse en la precisión de los movimientos, exploración y recolección de objetos. Pueden tener una vista en 2D (horizontal o vertical) o en 3D, con diferentes niveles de dificultad y mecánicas únicas. Ejemplos icónicos incluyen Super Mario Bros., Sonic the Hedgehog y Crash Bandicoot.
                        </p>
                    </div>
                </div>
            </div>
    
            {% for ju in juegos %}
            <div class="descripcionJuegos1 bg-dark rounded shadow mt-5 mb-4 overflow-hidden">
                <div class="row g-0 h-100 align-items-stretch">
                    <div class="col-12 col-md-4">
                        <div class="h-100 position-relative">
                            <img src="{% static ju.image %}" 
                                 alt="{{ju.nombre}}" 
                                 class="img-fluid h-100 w-100 object-fit-cover"
                                 style="min-height: 200px; border-radius: 0.5rem 0 0 0.5rem;">
                        </div>
                    </div>
    
                    <div class="col-12 col-md-8 h-100 p-4" style="background: #0000008f;">
                        <div class="d-flex flex-column h-100">
                            <h2 class="text-white mb-3 pb-2"">
                                {{ju.nombre}}
                            </h2>
            
                            <p class="flex-grow-1 mb-4">
                                {{ju.descripcion}}
                            </p>
    
                            <div class="d-flex justify-content-between align-items-end mt-auto pt-3">
                                <div class="pe-3">
                                    <span class="text-muted small" style="color: #fcfbfc !important;">Precio:</span>
                                    <h3 class="text-success mb-0" style="color: #2cb9e7 !important;">CLP$ {{ju.precio}}</h3>
                                    <h3 class="text-success mb-0" style="color: #7a73df !important;">USD$ {{  ju.precioDolar}} </h3>
                                </div>
    
                                <button class="btn btn-custom add-to-cart px-4 py-2" data-item="{{ ju.nombre }}" data-price="{{ ju.precio }}">
                                    <i class="fi fi-tr-shopping-cart me-2"></i>
                                    Agregar al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    
            <!--TODO: IMPLEMENTAR ESTA PARTE PARA agregar en BD  -->
            <!-- agregar nuevos juegos -->
            <div id="agregar-juego" class="mt-4">
            </div>
        </section>
        <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-dialog ajuste-cuadro">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-white" id="cartModalLabel">Carrito de Compras</h5>
                        <button type="button" class="btn-close" style="background-color: #2cb9e7 !important;" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark">
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="cart-items">
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <h5 id="total_confirm" class="text-white">Total: CLP$0</h5>
                            <button id="clear-cart" class="btn btn-custom">Vaciar Carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    
        <script src="{% static 'js/canasta.js' %}"></script>
        <script src="{% static 'js/agregar-juego-pag.js' %}"></script>
    
</body>
<footer class="footer mt-5" style="background-color: #2cb9e7;">
    <div class="container py-5">
        <div class="row g-4">

            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <div class="text-center text-md-start">
                    <img src="{% static 'img/gamelf-white.png' %}" alt="Logo" 
                         class="mb-3 img-fluid" style="max-height: 60px;">
                    <p class="text-white mb-0">Los mejores juegos digitales aquí.</p>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <h5 class="text-white mb-3 fw-bold">Enlaces rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none hover-ft">Sobre nosotros</a></li>
                    <li class="my-2"><a href="#" class="text-white text-decoration-none hover-ft">Políticas</a></li>
                    <li><a href="#" class="text-white text-decoration-none hover-ft">Soporte</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3">
                <h5 class="text-white mb-3 fw-bold">Contacto</h5>
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center gap-2 mb-2">
                        <a href="mailto:contacto@gamelf.com" class="text-white text-decoration-none hover-ft">
                            <i class="fi fi-tr-envelope-dot"></i>
                            contacto@gamelf.com
                        </a>
                    </li>
                    <li class="d-flex align-items-center gap-2 hover-ft">
                        <a href="tel:+56912345678" class="text-white text-decoration-none hover-ft">
                            <i class="fi fi-tr-mobile-button"></i>
                            +56 9 1234 5678
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-3">
                <h5 class="text-white mb-3 fw-bold">Síguenos</h5>
                <div class="d-flex gap-3 justify-content-center justify-content-md-start">
                    <a href="#" class="text-white social-icon">
                        <i class="fi fi-brands-facebook fs-5"></i>
                    </a>
                    <a href="#" class="text-white social-icon">
                        <i class="fi fi-brands-instagram fs-5"></i>
                    </a>
                    <a href="#" class="text-white social-icon">
                        <i class="fi fi-brands-twitter-alt fs-5"></i>
                    </a>
                    <a href="#" class="text-white social-icon">
                        <i class="fi fi-brands-youtube fs-5"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <p class="text-white text-center mb-0 py-3 footer-border">
                    © 2025 GameLF. Todos Los Derechos Reservados.
                </p>
            </div>
        </div>
    </div>
</footer>
</html>