* {
    background-color: #050709;
    padding: 0;
    margin: 0;
    font-family: JetBrains Mono;
    color: #fcfbfc !important; 
}

body {
    background-color: #050709;
}

a.nav-link {
    color: #fcfbfc;
}

.navbar-nav .nav-link:hover {
    color: #2cb9e7 !important;
}

.admin-only {
    display: none !important;
}

.admin-only.show {
    display: block !important; }

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fcfbfc' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

.btn-custom {
    background-color: #2cb9e7 !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(44, 185, 231, 0.4);
    background-color: #24a1c9 ;
}


.btn-custom:hover::after {
    left: 120%;
}


/* estilo de cajas index */

.card-body {
    min-height: 220px; /* Altura mínima para contener el contenido */
}

.button-container {
    margin-top: auto; /* Empuja el contenedor hacia abajo */
    width: 100%;
}

.game-thumbnail {
    height: 180px;
    object-fit: cover;
}

/* Mantener el mismo alto para todas las descripciones */
.card-text {
    min-height: 60px; /* Ajusta según necesidad */
    overflow: hidden;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #000;
}

@media (max-width: 768px) {
    .game-thumbnail {
        height: 150px;
    }
    
    .card-body {
        padding: 1rem;
    }
}